<section data-ng-controller="HomeController" data-ng-init = "getKeywords()">


	<div id = "search">
		<div class = "row">
			<input data-ng-model = "queryString" class = "form-control" type = "text" />
		</div>
		<div class = "row">
			<div class = "result" data-ng-show = "queryString && autoString && !isClosed">
				<a data-ng-repeat = "keyword in autoString" data-ng-click = "finishMyString(keyword)">
				{{keyword}}
				</a>
			</div>
		</div>
		<div class = "row">
			<div class="col-xs-4 text-center">
			    <button class = "btn btn-default center-block"data-ng-click = "searchLocate()">
			        Search
			    </button>
			</div>
		</div>
	</div>

</section>
