
<section data-ng-controller="FilesController" data-ng-init = "getFileType()">
    <div class="page-header">
        <h1>New File <span data-ng-show = "fileType !== ''">| {{fileType}}</span></h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div data-ng-if = "fileType === 'Book'">
                   <div class= "row">
                       <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisherLocation">Publisher Location</label>
                            <input type = "text" data-ng-model="$parent.publisherLocation" id="publisherLocation" class="form-control" placeholder="publisher place">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Journal Paper'">
                   <div class= "row">
                         <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>

                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Journal</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="Journal name and pages">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>


                <div data-ng-if = "fileType === 'Conference Paper Format #1'">
                   <div class= "row">
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                       <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Conference Paper Format #2'">
                   <div class= "row">
                       <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>                    
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
 
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Conference</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Conference Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Trade Publication'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Trade Publication with no Author Attribution'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <span data-ng-model="$parent.author" id="author" data-ng-init = "author = 'Anon'" class="form-control">Anon</span>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Newspaper Article with Byline'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Newspaper Article without Byline'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <span data-ng-model="$parent.author" id="author" data-ng-init = "author = 'Anon'" class="form-control">Anon</span>
                            </div>
                        </div>
                   <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Doctoral Dissertation'">
                   <div class= "row">
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'M.S. Thesis'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Technical Manual with Byline'">
                   <div class= "row">

                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Technical Manual without Byline'">

                   <div class= "row">

                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <span data-ng-model="$parent.author" id="author" data-ng-init = "author = 'Anon'" class="form-control">Anon</span>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Web Reference with Known Author'">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                  <div class= "row">
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>

                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Web Reference with Unknown Author'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <span data-ng-model="$parent.author" id="author" data-ng-init = "author = 'Anon'" class="form-control">Anon</span>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Unpublished Manuscript'">
                   <div class= "row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                   <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

                <div data-ng-if = "fileType === 'Personal Correspondence or Conversation'">
                   <div class= "row">

                        <div class="form-group col-xs-3">
                            <label class="control-label" for="firstName">Author Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="$parent.author" id="author" class="form-control" placeholder="author" required>
                            </div>
                        </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" data-ng-model="$parent.title" id="title" class="form-control" placeholder="title" required>
                        </div>
                    </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="publisher">Publisher</label>
                            <input type = "text" data-ng-model="$parent.publisher" id="publisher" class="form-control" placeholder="publisher">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="year">Year</label>
                            <input type="text" data-ng-model="$parent.year" id="year" class="form-control" placeholder="publish year">
                        </div>
                    </div>
                </div>

              <div class = "form-group">
                     <label class="control-label" for="keywords">Keywords</label> <br>
                     <ul class = "list-inline" data-ng-repeat = "data in keywords">
                         <li class = "btn btn-primary ">{{data}}</li>
                     </ul>

                     <div>
                        <span class = "fa fa-plus" data-ng-click = "toggleState()" data-ng-if = "!ifReady"></span>
                        <div data-ng-if = "ifReady">
                        <input type = "text" data-ng-model="keyword" id="keyword" class="form-control" placeholder="Enter your keyword" required></input>
                        <button class = "btn btn-default" data-ng-click = "addKeyword()">Add</button>
                        </div>
                     </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="description" name="description"  id="notes" class="form-control" cols="30" rows="3" placeholder="A breif comment of the article should be in 2 or 3 sentences."></textarea>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="abstract">Abstract</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="abstract" name="abstract"  id="abstract" class="form-control" cols="30" rows="10" placeholder="Enter your abstract here"></textarea>
                    
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="notes">Notes and Comments</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="notes" name="notes"  id="notes" class="form-control" cols="30" rows="5" placeholder="Notes and Comments"></textarea>
                        
                    </div>
                </div>

                <div class = "form-group">
                    <input type = "file" data-ng-model = "pdfFile" pdf>
                </div>
                <div data-ng-if = "pdf.flag === 1">
                    <object data="{{pdf.tmpPath}}" type = "application/pdf" width = 100% height = 500px> </object>
                </div> 

                <div data-ng-if = "img.flag === 1">
                    <img src = "{{img.tmpPath}}" width = 100% height = 500px />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>

    </div>
</section>