<section data-ng-controller="FilesController">
    <div class="page-header">
        <h1>New File</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="author">Author</label>
                    <div class="controls">
                        <input type="text" data-ng-model="author" id="author" class="form-control" placeholder="author" required>
                    </div>
                </div>
                <div class = "form-group">
                     <label class="control-label" for="keywords">Keywords</label> <br>
                     <ul class = "list-inline" data-ng-repeat = "data in keywords">
                         <li class = "btn btn-primary ">{{data}}</li>
                     </ul>

                     <div>
                        <span class = "fa fa-plus" data-ng-click = "toggleState()" data-ng-if = "!ifReady"></span>
                        <div data-ng-if = "ifReady">
                        <input type = "text" data-ng-model="keyword" id="keyword" class="form-control" placeholder="Enter your keyword" required></input>
                        <button class = "btn btn-default" data-ng-click = "addKeyword()">Add</button>
                        </div>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="notes">Notes and Comments</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="notes" name="notes"  id="notes" class="form-control" cols="30" rows="10" placeholder="Notes and Comments"></textarea>
                        
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>

    </div>
</section>