<section data-ng-controller="FilesController">
    <div class="page-header">
        <h1>New File</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="title" required>
                    </div>
                </div>
                <div class= "row">
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="firstName">Author first Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="firstName" required>
                        </div>
                    </div>

                     <div class="form-group  col-xs-3 col-xs-offset-3">
                        <label class="control-label" for="lastName">Author last Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="lastName" id="lastName" class="form-control" placeholder="lastName" required>
                        </div>
                    </div>
                </div>
                <div class = "form-group">
                     <label class="control-label" for="keywords">Keywords</label> <br>
                     <ul class = "list-inline" data-ng-repeat = "data in keywords">
                         <li class = "btn btn-primary ">{{data}}</li>
                     </ul>

                     <div>
                        <span class = "fa fa-plus" data-ng-click = "toggleState()" data-ng-if = "!ifReady"></span>
                        <div data-ng-if = "ifReady">
                        <input type = "text" data-ng-model="keyword" id="keyword" class="form-control" placeholder="Enter your keyword" required></input>
                        <button class = "btn btn-default" data-ng-click = "addKeyword()">Add</button>
                        </div>
                     </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="description" name="description"  id="notes" class="form-control" cols="30" rows="3" placeholder="A breif comment of the article should be in 2 or 3 sentences."></textarea>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="abstract">Abstract</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="abstract" name="abstract"  id="abstract" class="form-control" cols="30" rows="10" placeholder="Enter your abstract here"></textarea>
                    
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="notes">Notes and Comments</label>
                    <div class="controls">
                        
                        <textarea data-ng-model="notes" name="notes"  id="notes" class="form-control" cols="30" rows="5" placeholder="Notes and Comments"></textarea>
                        
                    </div>
                </div>

                <div class = "form-group">
                    <input type = "file">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>

    </div>
</section>