<section data-ng-controller="FilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="list-group">
         <a data-ng-repeat="file in files" data-ng-href="#!/files/{{file._id}}"  class="list-group-item"> 
            <!-- This is the noteCard that display a note or comment of the file, 
                 And related information of the file -->
            <div id = "file" class = "hvr-grow">
                <div class = "row">
                    <div id = "notes" class = "col-xs-7">
                        <div class = "title">
                        {{file.title}}
                        </div>
                        <div class = "body">
                        {{file.description}} 
                        </div>
                    </div>

                    <div id = "detail" class = "col-xs-5">
                        <span class="cusLabel">Author:</span>
                            <span class = "info">{{file.author}}</span><br>
                        <span class = "cusLabel">Citation:</span>
                            <span class = "info">{{getCitation(file)}}</span><br>
                        <span class = "cusLabel">Related keywords:</span>                    
                            <span class = "keywords" data-ng-if = "file.keywords">{{file.keywords}}</span>
                            <span class = "text-muted" data-ng-if = "!file.keywords">no existing keywords</span>
                        </span>
                    </div>
                </div>
            </div>
       </a>
    </div>
     <div class="alert alert-warning text-center" data-ng-hide="!files.$resolved || files.length">
    	No Files yet, why don't you <a href="/#!/files/create">create one</a>?
    </div> 
</section>