<section data-ng-controller="FilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="list-group">
<!--         <a data-ng-repeat="file in files" data-ng-href="#!/files/{{file._id}}" class="list-group-item"> -->
            <!-- This is the noteCard that display a note or comment of the file, 
                 And related information of the file -->
            <div id = "file" class = "hvr-grow">
                <div class = "row">
                    <div id = "notes" class = "col-xs-7">

                        <div class = "title">
                        Title
                        </div>
                        <div class = "body">
                        My testing notes. This article is about bla bla bla. 
                        The idea is that this is a note card which presents notes and comments. 
                        Like it did in SQN. On the right side it will have the detial information of the notes. 
                        </div>
                    </div>

                    <div id = "detail" class = "col-xs-5">
                        <span class="cusLabel">Author:</span>
                        <span class = "info">Last, First</span><br>
                        <span class = "cusLabel">Citation:</span>
                        <span class = "info">Phelps, B. R., Lima, M., Gomez, J., MacArthur, R. T., Gansu, L., & Nehru, M. (2004).</span><br>
                        <span class = "cusLabel">Related keywords:</span>                    
                        <span class = "keywords">
                            <a href = "">Apple</a>
                            <a href = "">Banana</a>
                        </span>
                    </div>
                </div>
            </div>


            <!-- Note Card 2 -->
            <div id = "file" class = "hvr-grow">
                <div class = "row">
                    <div id = "notes" class = "col-xs-7">

                        <div class = "title">
                        Title
                        </div>
                        <div class = "body">
                        This is the second notecard. 
                        </div>

                    </div>

                    <div id = "detail" class = "col-xs-5">
                        <span class="cusLabel">Author:</span>
                        <span class = "info">Last, First</span><br>
                        <span class = "cusLabel">Citation:</span>
                        <span class = "info">Phelps, B. R., Lima, M., Gomez, J., MacArthur, R. T., Gansu, L., & Nehru, M. (2004).</span><br>
                        <span class = "cusLabel">Related keywords:</span>             
                        <span class = "keywords">
                            <a href = "">Apple</a>
                            <a href = "">Banana</a>
                        </span>
                    </div>
                </div>
            </div>

<!--         </a>
 --></div>
<!--     <div class="alert alert-warning text-center" data-ng-hide="!files.$resolved || files.length">
    	No Files yet, why don't you <a href="/#!/files/create">create one</a>?
    </div> -->
</section>