<div ng-controller = "FilesController">
<div ng-controller="FilesController">
        <div class="modal-header">
            <h3 class="modal-title">Select your file type<span class= "pull-right"><button class="btn btn-primary" type="button" ng-click="close().then(setFileType())">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button></span></h3>

        </div>

        <div class="modal-body">
    <div class = "btn-group" id="clearfix"> 
    
      <input type="radio"  data-ng-model = "fileType" value ="Book" name = "fileType"/>
        &nbspBook<br>
      <input type="radio"  data-ng-model = "fileType" value ="Journal Paper" name = "fileType"/>
        &nbspJournal Paper<br>
      <input type="radio" data-ng-model = "fileType"  value = "Conference Paper Format #1" name = "fileType"/>
        &nbspConference Paper Format #1<br>
      <input type="radio"  data-ng-model = "fileType" value = "Conference Paper Format #2" name = "fileType"/>
        &nbspConference Paper Format #2<br>
      <input type="radio"  data-ng-model = "fileType" value = "Trade Publication" name = "fileType"/>
        &nbspTrade Publication<br>
      <input type="radio"  data-ng-model = "fileType" value = "Trade Publication with no Author Attribution" name = "fileType"/>
        &nbspTrade Publication with no Author Attribution<br>
      <input type="radio"  data-ng-model = "fileType" value = "Newspaper Article with Byline" name = "fileType"/>
        &nbsp Newspaper Article with Byline<br>
      <input type="radio"  data-ng-model = "fileType" value = "Newspaper Article without Byline" name = "fileType"/>
        &nbsp Newspaper Article without Byline<br>
      <input type="radio"  data-ng-model = "fileType" value = "Doctoral Dissertation" name = "fileType"/>
        &nbsp Doctoral Dissertation<br>
      <input type="radio"  data-ng-model = "fileType" value = "M.S. Thesis" name = "fileType"/>
        &nbsp M.S. Thesis
      <br>
      <input type="radio"  data-ng-model = "fileType" value = "Technical Manual with Byline" name = "fileType"/>
        &nbsp Technical Manual with Byline<br>
      <input type="radio"  data-ng-model = "fileType" value = "Technical Manual without Byline" name = "fileType"/>   &nbsp Technical Manual without Byline<br>
      <input type="radio"  data-ng-model = "fileType" value = "Web Reference with Known Author" name = "fileType"/>    &nbsp Web Reference with Known Author<br>
      <input type="radio"  data-ng-model = "fileType" value = "Web Reference with Unknown Author" name = "fileType"/> &nbsp Web Reference with Unknown Author<br>
      <input type="radio"  data-ng-model = "fileType" value = "Unpublished Manuscript" name = "fileType"/>
        &nbsp Unpublished Manuscript<br>
      <input type="radio"  data-ng-model = "fileType" value = "Personal Correspondence or Conversation" name = "fileType"/>
        &nbsp Personal Correspondence or Conversation<br>
    </div>
        </div>

</div>
</div>