#file{
	padding: 10px;
	width: 100%;
	height: auto;
}

#notes{
	border-right: 1px solid #eee;
}

#notes .title{
	font-family: Sigmar One;
	font-size: 50px;

}

#notes .body{
	font-family: QUICKSAND;
	font-style: italic;
	font-size: 20px;
	text-indent: 20px;
}

#detail .cusLabel{
	font-family: Sigmar One;
	font-size: 22px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

#detail .info{
	font-family: QUICKSAND;
	font-style: italic;
	font-size: 18px;
}

#detail .keywords{
	font-size: 15px;
	font-style: italic;
	font-family: Adine Kirnberg;
}

.list-inline{
	display: inline-block;
	padding-right: 10px;
}

.hr {
	margin-left:auto;
	margin-right:auto;
	width:100%;
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ffffff;
}

.btn-group{
	font-size: 20px;
	font-family: Adine Kirnberg;
	padding-bottom: 10px;
}

.btn-group p{
	padding-right: 5px;
}